
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400&subset=cyrillic');
html, body {overflow-x:hidden;}
body {background:#00af40; font-family:'Ubuntu',sans-serif;}
img.logo {width:145px;}
.lead {font-size:2rem; line-height:1; padding-left:4.1rem; margin:80px 0 30px;}
.slim {font-weight:300; line-height:1.2; font-size:.8rem}
.slim a {color:#fff}
.lang_switch {background:#fff; color:#00af40; text-align:center; cursor:pointer;}
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .lead {font-size:1.8rem;}
}
@media screen and (max-width: 39.9375em) {
    .lead {font-size:1.5rem;}
}

[data-valign] {color:#fff;}

table {font-size:.8rem; margin-bottom:80px;}
table tbody {background:transparent; border:none;}
table tbody tr:nth-child(even) {background:transparent}
table tbody tr.bordered {border-top:5px solid #fff;}
table tbody tr.stripe {background:rgba(255,255,255,.2);}
table input {border:none!important; box-shadow:none!important; background:transparent!important; border-bottom:1px solid #fff!important; color:#fff!important; margin-bottom:0!important; height:25px!important;}
table tr {text-align:center;}

.steps ul {list-style:none; margin:0; width:100%; display:table; position:relative;}
    .steps ul:before,
    .steps ul:after {content:""; position:absolute; width:100%; height:10px; background:#fff; left:0}
    .steps ul::after {background:rgba(0, 175, 64, .8); width:0; left:0; border:1px solid rgba(255,255,255,.3);}
    .steps ul li {display:table-cell; width:50%; position:relative; padding-top:20px;}
    .steps ul li:before {content:""; position:absolute; top:-8px; left:50%; margin-left:-12.5px; width:25px; height:25px; background:#fff; border-radius:100%; border:7px solid #fff; z-index: 2}
    .steps ul li.checked:before {background:#00af40;}

form {margin-bottom:80px;}
form label {color:#fff;}
.datepicker {width:100%!important; margin-bottom:1rem;}