{%extends "index.html"%}

{%block content%}
<div class="row">
	<div class="column small-12">
		<p class="lead">Оплатить</p>
	</div>
	<div class="column">
		<form action="" method="POST">{%csrf_token%}
			<div class="row">
			{{order_form.as_p}}
			<!--</div>
				<div class="column small-12 medium-6">
					<input type="text" name="name" placeholder="Имя*" required>
				</div>
				<div class="column small-12 medium-6">
					<input type="email" name="email" placeholder="Email*" required>
				</div>
			</div>							
			<div class="row">
				<div class="column small-12 medium-6">
					<input type="text" name="delivery_date" placeholder="Дата доставки" required>
				</div>
			</div>-->
			<div class="row">
				<!--<div class="column small-12 medium-6">
					<input type="tel" name="tel" placeholder="Телефон">
				</div>-->
				<div class="column small-12 medium-6">
					<input type="submit" value="Заказать" class="button expanded success">
				</div>
			</div>
		</form>
{%endblock%}
